In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
features = ["SepalLenght",
            "SepalWidth",
            "PetalLenght",
            "PetalWidth",
            "Class"]

irisData = pd.read_csv("data/IrisData/iris.data", 
                   names=features)

# Take 30 first samples of each Class for training
train_data = irisData.groupby("Class").head(30)
test_data = irisData.drop(train_data.index)
train_data.reset_index(drop=True, inplace=True)
test_data.reset_index(drop=True, inplace=True)

In [4]:
train_data.head()

   SepalLenght  SepalWidth  PetalLenght  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [51]:
# Generate data vectors
encoder = {"Iris-setosa": 1, "Iris-versicolor": 2, "Iris-virginica": 3}

t = pd.get_dummies(train_data["Class"]).astype(int).to_numpy()
t = t.transpose()

x = train_data[train_data.columns[:-1]].to_numpy()
ones = np.ones((x.shape[0],1))
x = np.hstack((x, ones))
x = x.transpose()

print(t.shape)
print(x.shape)

(3, 90)
(5, 90)

In [53]:
# initialize the weights
np.random.seed(42)

n_features = x.shape[0]
n_classes = t.shape[0]

W = np.random.randn(n_classes,n_features)
W

array([[ 0.49671415, -0.1382643 ,  0.64768854,  1.52302986, -0.23415337],
       [-0.23413696,  1.57921282,  0.76743473, -0.46947439,  0.54256004],
       [-0.46341769, -0.46572975,  0.24196227, -1.91328024, -1.72491783]])

In [ ]:
# Forward pass

# Linear layer
z = W @ x

# sigmoid function
g = 1/(1 + np.exp(-z))

print(g.shape)

squared_norms = np.sum((g-t)**2,axis=0,keepdims=True) # (g_k-t_k)^T (g_k-t_k)

print(squared_norms.shape)

MSE = 1/2 * np.sum(squared_norms)

print(MSE)

(3, 90)
(1, 90)
74.8626948632926